In [2]:
import pandas as pd
import numpy as np

In [3]:
adnidenoise_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise_index.csv")
len(adnidenoise_df)

2495

In [4]:
PTRDEMOG_cols = ["PTRACCAT","PTGENDER","PTDOBYY","PTHAND",
                 "PTMARRY","PTEDUCAT","PTNOTRT","PTTLANG","PTID"]

med_history_cols=["MH14ALCH","MH17MALI","MH16SMOK","MH15DRUG","MH4CARD",
                  "MHPSYCH","MH2NEURL","MH6HEPAT","MH12RENA","PTID" ]

vitals_cols = ["VSWEIGHT","VSHEIGHT","VSWTUNIT","VSHTUNIT","PTID"]

mmse_cols = ["MMSCORE","PTID"]

neurbat_cols = ["TRAASCOR","TRABSCOR","TRABERRCOM","CATANIMSC",
                "CLOCKSCOR","BNTTOTAL","DSPANFOR","DSPANBAC","PTID"]

cdr_cols = ["CDGLOBAL","PTID"]

blchange_cols = ["BCFAQ","BCDEPRES","PTID"]

dx_sum_cols = ["PTID","DIAGNOSIS","PHASE","VISCODE2","USERDATE","RID"] 



med_history = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/MEDHIST_18Apr2025.csv")
dx_sum = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_DXSUM_18Apr2025.csv")
mmse = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_MMSE_02May2025.csv")
cdr = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_CDR_02May2025.csv")
adxlist = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_ADSXLIST_02May2025.csv")
blchange = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_BLCHANGE_02May2025.csv")
vitals = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_VITALS_02May2025.csv")
neurobat = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_NEUROBAT_15May2025.csv")
ptdemog = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_PTDEMOG_15May2025.csv")
adnimerged_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIMERGE_28Aug2025.csv")
# Replace -4 values with np.nan
med_history = med_history.replace([-1,"-1",9999,'-4',-4], np.nan)
adnimerged_df = adnimerged_df[adnimerged_df.PTID.isin(adnidenoise_df.subject_id)]

med_history = med_history[med_history.PTID.isin(adnidenoise_df.subject_id)]
dx_sum = dx_sum[dx_sum.PTID.isin(adnidenoise_df.subject_id)]
cdr = cdr[cdr.PTID.isin(adnidenoise_df.subject_id)]
mmse = mmse[mmse.PTID.isin(adnidenoise_df.subject_id)]
adxlist = adxlist[adxlist.PTID.isin(adnidenoise_df.subject_id)]
blchange = blchange[blchange.PTID.isin(adnidenoise_df.subject_id)]
vitals = vitals[vitals.PTID.isin(adnidenoise_df.subject_id)]
neurobat = neurobat[neurobat.PTID.isin(adnidenoise_df.subject_id)]
ptdemog = ptdemog[ptdemog.PTID.isin(adnidenoise_df.subject_id)]




ptdemog = ptdemog[PTRDEMOG_cols]

# Medical history projection
med_history = med_history[med_history_cols]

# Vitals projection
vitals = vitals[vitals_cols]

# MMSE projection
mmse = mmse[mmse_cols]

# Neurological battery projection
neurobat = neurobat[neurbat_cols]

# CDR projection
cdr = cdr[cdr_cols]

# Baseline change projection
blchange = blchange[blchange_cols]

dx_sum = dx_sum[dx_sum_cols]

dx_sum = dx_sum.replace([-1,"-1",9999,'-4',-4], np.nan)
mmse = mmse.replace([-1,"-1",9999,'-4',-4], np.nan)
cdr = cdr.replace([-1,"-1",9999,'-4',-4], np.nan)
adxlist = adxlist.replace([-1,"-1",9999,'-4',-4], np.nan)
blchange = blchange.replace([-1,"-1",9999,'-4',-4], np.nan)
vitals = vitals.replace([-1,"-1",9999,'-4',-4], np.nan)
neurobat = neurobat.replace([-1,"-1",9999,'-4',-4], np.nan)
ptdemog = ptdemog.replace([-1,"-1",9999,'-4',-4], np.nan)

/tmp/ipykernel_3765798/2000674068.py:29: DtypeWarning: Columns (79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  neurobat = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/All_Subjects_NEUROBAT_15May2025.csv")
/tmp/ipykernel_3765798/2000674068.py:31: DtypeWarning: Columns (19,20,21,50,51,104,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  adnimerged_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIMERGE_28Aug2025.csv")

In [5]:
# Print the shapes of the projected dataframes
print("Projected dataframes shapes:")
print(f"Demographics: {ptdemog.shape}")
print(f"Medical History: {med_history.shape}")
print(f"Vitals: {vitals.shape}")
print(f"MMSE: {mmse.shape}")
print(f"Neurological Battery: {neurobat.shape}")
print(f"CDR: {cdr.shape}")
print(f"blchange shape: {blchange.shape}")
print(f"dx_sum shape: {dx_sum.shape}")
print(f"adxlist shape: {adxlist.shape}")
print(f"adnimerged_df shape: {adnimerged_df.shape}")

Projected dataframes shapes:
Demographics: (1152, 9)
Medical History: (1017, 10)
Vitals: (4669, 5)
MMSE: (4031, 2)
Neurological Battery: (4665, 9)
CDR: (4115, 2)
blchange shape: (4017, 3)
dx_sum shape: (4015, 6)
adxlist shape: (3661, 39)
adnimerged_df shape: (5631, 116)

In [6]:
print("percentage of missing values in each column")
print("----------------------------------ptdemog")
print((ptdemog.isna().sum() / len(ptdemog)).sort_values(ascending=False))
print("---------------------------------- med_history")
print((med_history.isna().sum() / len(med_history)).sort_values(ascending=False))
print("----------------------------------vitals")
print((vitals.isna().sum() / len(vitals)).sort_values(ascending=False))
print("----------------------------------mmse")
print((mmse.isna().sum() / len(mmse)).sort_values(ascending=False))
print("----------------------------------neurobat")   
print((neurobat.isna().sum() / len(neurobat)).sort_values(ascending=False))
print("----------------------------------cdr")
print((cdr.isna().sum() / len(cdr)).sort_values(ascending=False))
print("----------------------------------blchange")
print((blchange.isna().sum() / len(blchange)).sort_values(ascending=False))
print("----------------------------------dx_sum")
print((dx_sum.isna().sum() / len(dx_sum)).sort_values(ascending=False))
print("----------------------------------adxlist")
print((adxlist.isna().sum() / len(adxlist)).sort_values(ascending=False))
print("----------------------------------adnimerged_df")
print((adnimerged_df.isna().sum() / len(adnimerged_df)).sort_values(ascending=False))

percentage of missing values in each column
----------------------------------ptdemog
PTEDUCAT    0.105035
PTRACCAT    0.103299
PTGENDER    0.103299
PTDOBYY     0.103299
PTHAND      0.103299
PTTLANG     0.103299
PTNOTRT     0.008681
PTMARRY     0.005208
PTID        0.000000
dtype: float64
---------------------------------- med_history
MH14ALCH    0.0
MH17MALI    0.0
MH16SMOK    0.0
MH15DRUG    0.0
MH4CARD     0.0
MHPSYCH     0.0
MH2NEURL    0.0
MH6HEPAT    0.0
MH12RENA    0.0
PTID        0.0
dtype: float64
----------------------------------vitals
VSHEIGHT    0.850075
VSHTUNIT    0.850075
VSWEIGHT    0.009852
VSWTUNIT    0.009852
PTID        0.000000
dtype: float64
----------------------------------mmse
MMSCORE    0.006946
PTID       0.000000
dtype: float64
----------------------------------neurobat
DSPANBAC      0.360129
DSPANFOR      0.353483
TRABERRCOM    0.191211
TRABSCOR      0.189496
BNTTOTAL      0.185209
TRAASCOR      0.156270
CLOCKSCOR     0.148767
CATANIMSC     0.148553
PTID          0.000000
dtype: float64
----------------------------------cdr
CDGLOBAL    0.013609
PTID        0.000000
dtype: float64
----------------------------------blchange
BCFAQ       0.167040
BCDEPRES    0.163804
PTID        0.000000
dtype: float64
----------------------------------dx_sum
DIAGNOSIS    0.000498
PTID         0.000000
PHASE        0.000000
VISCODE2     0.000000
USERDATE     0.000000
RID          0.000000
dtype: float64
----------------------------------adxlist
USERDATE2       0.926523
AXOTHER         0.004097
AXDPMOOD        0.002731
AXABDOMN        0.002458
AXINSOMN        0.002458
AXFALL          0.002458
AXCRYING        0.002458
AXELMOOD        0.002458
AXWANDER        0.002458
AXRASH          0.002458
AXBREATH        0.002185
AXMUSCLE        0.002185
AXANKLE         0.002185
AXURNFRQ        0.002185
AXURNDIS        0.002185
AXCHEST         0.002185
AXPALPIT        0.002185
AXCOUGH         0.002185
AXDRYMTH        0.002185
AXVISION        0.002185
AXDROWSY        0.002185
AXENERGY        0.002185
AXDIZZY         0.002185
AXSWEATN        0.002185
AXCONSTP        0.002185
AXDIARRH        0.002185
AXVOMIT         0.002185
AXNAUSEA        0.002185
AXHDACHE        0.002185
VISDATE         0.000273
ID              0.000000
SITEID          0.000000
USERDATE        0.000000
PHASE           0.000000
PTID            0.000000
VISCODE2        0.000000
VISCODE         0.000000
RID             0.000000
update_stamp    0.000000
dtype: float64
----------------------------------adnimerged_df
EcogPtTotal_bl     1.0
EcogPtOrgan_bl     1.0
EcogSPMem_bl       1.0
EcogSPPlan_bl      1.0
MOCA_bl            1.0
                  ...
mPACCdigit_bl      0.0
mPACCtrailsB_bl    0.0
FLDSTRENG_bl       0.0
FSVERSION_bl       0.0
update_stamp       0.0
Length: 116, dtype: float64

## processing Vitals

In [7]:
vitals.VSWTUNIT.value_counts(dropna=False)

VSWTUNIT
1.0    3835
2.0     788
NaN      46
Name: count, dtype: int64

In [8]:
print("mean of weight in 1")
print(vitals[vitals.VSWTUNIT==1].VSWEIGHT.mean())
print("mean of weight in 2")
print(vitals[vitals.VSWTUNIT==2].VSWEIGHT.mean())

mean of weight in 1
162.3226336375489
mean of weight in 2
74.16129441624366

In [9]:
print("mean of height in 1")
print(vitals[vitals.VSHTUNIT==1].VSHEIGHT.mean())
print("mean of height in 2")
print(vitals[vitals.VSHTUNIT==2].VSHEIGHT.mean())

mean of height in 1
66.53398230088494
mean of height in 2
167.60074074074072

In [10]:
# Count NA values and total records for height and weight per patient
vitals_stats = vitals.groupby("PTID").agg({
    "VSHEIGHT": [lambda x: x.isna().sum(), "count"],
    "VSWEIGHT": [lambda x: x.isna().sum(), "count"]
})

# Calculate proportion of NA values
vitals_stats.columns = ["VSHEIGHT_na", "VSHEIGHT_total", "VSWEIGHT_na", "VSWEIGHT_total"]
vitals_stats["VSHEIGHT_na_prop"] = vitals_stats["VSHEIGHT_na"] / vitals_stats["VSHEIGHT_total"]
vitals_stats["VSWEIGHT_na_prop"] = vitals_stats["VSWEIGHT_na"] / vitals_stats["VSWEIGHT_total"]

We fill na values per patient , where we fill with mean for height and weight , and mode for units

In [11]:
# Create a copy to avoid SettingWithCopyWarning
# Define columns to fill with their respective methods
numeric_cols = ['VSHEIGHT', 'VSWEIGHT']
categorical_cols = ['VSHTUNIT', 'VSWTUNIT']

# Fill numeric columns with mean per patient
for col in numeric_cols:
    vitals[col] = vitals.groupby('PTID')[col].transform(
        lambda x: x.fillna(x.mean())
    )

# Fill categorical columns with mode per patient
for col in categorical_cols:
    # Get mode for each patient
    modes = vitals.groupby('PTID')[col].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
    
    # For each patient with NA values, fill with their mode
    for pid in vitals[vitals[col].isna()].PTID.unique():
        if pid in modes.index and not pd.isna(modes[pid]):
            vitals.loc[(vitals.PTID == pid) & (vitals[col].isna()), col] = modes[pid]

# Convert weight from pounds (VSWTUNIT=1) to kilograms (VSWTUNIT=2)
# 1 pound = 0.45359237 kilograms
pounds_mask = vitals.VSWTUNIT == 1

# Print stats before conversion
print(f"Before: pounds mean={vitals.loc[pounds_mask, 'VSWEIGHT'].mean():.2f}, kg mean={vitals[vitals.VSWTUNIT==2].VSWEIGHT.mean():.2f}")

# Vectorized operation to convert pounds to kg and update unit
vitals.loc[pounds_mask, 'VSWEIGHT'] *= 0.45359237
vitals.loc[pounds_mask, 'VSWTUNIT'] = 2

# Print stats after conversion
print(f"After: kg mean={vitals.VSWEIGHT.mean():.2f}, pounds count={sum(vitals.VSWTUNIT==1)}, kg count={sum(vitals.VSWTUNIT==2)}")




# Convert height from inches (VSHTUNIT=1) to centimeters (VSHTUNIT=2)
# 1 inch = 2.54 centimeters
inches_mask = vitals.VSHTUNIT == 1

# Print stats before conversion
print(f"Before: inches mean={vitals.loc[inches_mask, 'VSHEIGHT'].mean():.2f}, cm mean={vitals[vitals.VSHTUNIT==2].VSHEIGHT.mean():.2f}")

# Vectorized operation to convert inches to cm and update unit
vitals.loc[inches_mask, 'VSHEIGHT'] *= 2.54
vitals.loc[inches_mask, 'VSHTUNIT'] = 2


# Print stats after conversion
print(f"After: cm mean={vitals.VSHEIGHT.mean():.2f}, inches count={sum(vitals.VSHTUNIT==1)}, cm count={sum(vitals.VSHTUNIT==2)}")


vitals.VSHTUNIT.fillna(2,inplace=True)
vitals.VSWTUNIT.fillna(2,inplace=True)
vitals.VSHEIGHT.fillna(vitals.VSHEIGHT.mean(),inplace=True)
vitals.VSWEIGHT.fillna(vitals.VSWEIGHT.mean(),inplace=True)

Before: pounds mean=162.26, kg mean=74.34
After: kg mean=73.73, pounds count=0, kg count=4669
Before: inches mean=68.81, cm mean=168.19
After: cm mean=173.66, inches count=0, cm count=4666

/tmp/ipykernel_3765798/220065474.py:55: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vitals.VSHTUNIT.fillna(2,inplace=True)
/tmp/ipykernel_3765798/220065474.py:56: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vitals.VSWTUNIT.fillna(2,inplace=True)
/tmp/ipykernel_3765798/220065474.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vitals.VSHEIGHT.fillna(vitals.VSHEIGHT.mean(),inplace=True)
/tmp/ipykernel_3765798/220065474.py:58: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vitals.VSWEIGHT.fillna(vitals.VSWEIGHT.mean(),inplace=True)

In [12]:
vitals.isna().sum()

VSWEIGHT    0
VSHEIGHT    0
VSWTUNIT    0
VSHTUNIT    0
PTID        0
dtype: int64

## processsing ptdemog

In [13]:
len(ptdemog) ,ptdemog.PTID.nunique()

(1152, 648)

In [14]:
numeric_cols = ['PTDOBYY', 'PTEDUCAT','PTEDUCAT']
categorical_cols = ['PTRACCAT','PTGENDER','PTDOBYY', 'PTHAND', 'PTMARRY'
                    ,'PTNOTRT', 'PTTLANG']
# Fill numeric columns with mean per patient
for col in numeric_cols:
    ptdemog[col] = ptdemog.groupby('PTID')[col].transform(
        lambda x: x.fillna(x.mean())
    )
for col in categorical_cols:
    ptdemog[col] = ptdemog.groupby('PTID')[col].transform(
        lambda x: x.fillna(x.mode()[0])
    )

In [15]:
ptdemog.isna().sum()/len(ptdemog)

PTRACCAT    0.0
PTGENDER    0.0
PTDOBYY     0.0
PTHAND      0.0
PTMARRY     0.0
PTEDUCAT    0.0
PTNOTRT     0.0
PTTLANG     0.0
PTID        0.0
dtype: float64

## preprocessing mmse

In [16]:
mmse["MMSCORE"] = mmse.groupby('PTID')["MMSCORE"].transform(
        lambda x: x.fillna(x.mean())
    )

mmse.isna().sum()/len(mmse)

MMSCORE    0.0
PTID       0.0
dtype: float64

# preprocessing neurobat

In [17]:
neurobat.isna().sum()/len(neurobat)

TRAASCOR      0.156270
TRABSCOR      0.189496
TRABERRCOM    0.191211
CATANIMSC     0.148553
CLOCKSCOR     0.148767
BNTTOTAL      0.185209
DSPANFOR      0.353483
DSPANBAC      0.360129
PTID          0.000000
dtype: float64

In [18]:
numeric_cols = ["TRAASCOR","TRABSCOR","TRABERRCOM","CATANIMSC"]
categorical_cols = ["CLOCKSCOR","BNTTOTAL","DSPANFOR","DSPANBAC"]

for col in numeric_cols:
    neurobat[col] = neurobat.groupby('PTID')[col].transform(
        lambda x: x.fillna(x.mean())
    )
    neurobat[col].fillna(neurobat[col].mean(),inplace=True)
for col in categorical_cols:
    neurobat[col] = neurobat.groupby('PTID')[col].transform(
        lambda x: x.fillna(x.mode())
    )
    neurobat[col].fillna(neurobat[col].mode()[0],inplace=True)

    
neurobat.isna().sum()/len(neurobat)

/tmp/ipykernel_3765798/2550337254.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mean(),inplace=True)
/tmp/ipykernel_3765798/2550337254.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mean(),inplace=True)
/tmp/ipykernel_3765798/2550337254.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mean(),inplace=True)
/tmp/ipykernel_3765798/2550337254.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mean(),inplace=True)
/tmp/ipykernel_3765798/2550337254.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mode()[0],inplace=True)
/tmp/ipykernel_3765798/2550337254.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mode()[0],inplace=True)
/tmp/ipykernel_3765798/2550337254.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mode()[0],inplace=True)
/tmp/ipykernel_3765798/2550337254.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  neurobat[col].fillna(neurobat[col].mode()[0],inplace=True)

TRAASCOR      0.0
TRABSCOR      0.0
TRABERRCOM    0.0
CATANIMSC     0.0
CLOCKSCOR     0.0
BNTTOTAL      0.0
DSPANFOR      0.0
DSPANBAC      0.0
PTID          0.0
dtype: float64

## processing CDR

In [19]:
cdr["CDGLOBAL"] = cdr.groupby("PTID")["CDGLOBAL"].transform(
        lambda x: x.fillna(x.mode()))


cdr["CDGLOBAL"].fillna(cdr["CDGLOBAL"].mode()[0],inplace=True)
cdr.isna().sum()/len(cdr), len(cdr),len(cdr.PTID.unique())

/tmp/ipykernel_3765798/3087359066.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cdr["CDGLOBAL"].fillna(cdr["CDGLOBAL"].mode()[0],inplace=True)

(CDGLOBAL    0.0
 PTID        0.0
 dtype: float64,
 4115,
 648)

# preprocessing BLChange

In [20]:
blchange.BCDEPRES.value_counts()

BCDEPRES
0.0    3219
1.0     140
Name: count, dtype: int64

In [21]:
blchange.columns

Index(['BCFAQ', 'BCDEPRES', 'PTID'], dtype='object')

In [22]:




blchange["BCFAQ"] = blchange.groupby("PTID")["BCFAQ"].transform(
        lambda x: x.fillna(x.mode())
    )

blchange["BCDEPRES"]=blchange.groupby("PTID")["BCDEPRES"].transform(
        lambda x: x.fillna(x.mode())
    )

blchange["BCDEPRES"].fillna(blchange["BCDEPRES"].mode()[0],inplace=True)
blchange["BCFAQ"].fillna(blchange["BCFAQ"].mode()[0],inplace=True)



blchange.isna().sum()/len(blchange)

/tmp/ipykernel_3765798/866951023.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  blchange["BCDEPRES"].fillna(blchange["BCDEPRES"].mode()[0],inplace=True)
/tmp/ipykernel_3765798/866951023.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  blchange["BCFAQ"].fillna(blchange["BCFAQ"].mode()[0],inplace=True)

BCFAQ       0.0
BCDEPRES    0.0
PTID        0.0
dtype: float64

# Option 1 : Merging dfs

In [23]:

# Aggregate filtered_ptdemog
agg_ptdemog = ptdemog.groupby('PTID').agg({
    'PTRACCAT': lambda x: x.mode().iloc[0],  # categorical
    'PTGENDER': lambda x: x.mode().iloc[0],  # categorical
    'PTDOBYY': 'mean',  # numeric
    'PTHAND': lambda x: x.mode().iloc[0],  # categorical
    'PTMARRY': lambda x: x.mode().iloc[0],  # categorical
    'PTEDUCAT': 'mean',  # numeric
    'PTNOTRT': lambda x: x.mode().iloc[0],  # categorical
    'PTTLANG': lambda x: x.mode().iloc[0],  # categorical
}).reset_index()

# Aggregate med_history (all columns are categorical)
agg_med_history = med_history.groupby('PTID').agg({
    'MH14ALCH': lambda x: x.mode().iloc[0],
    'MH17MALI': lambda x: x.mode().iloc[0],
    'MH16SMOK': lambda x: x.mode().iloc[0],
    'MH15DRUG': lambda x: x.mode().iloc[0],
    'MH4CARD': lambda x: x.mode().iloc[0],
    'MHPSYCH': lambda x: x.mode().iloc[0],
    'MH2NEURL': lambda x: x.mode().iloc[0],
    'MH6HEPAT': lambda x: x.mode().iloc[0],
    'MH12RENA': lambda x: x.mode().iloc[0]
}).reset_index()

# Aggregate vitals
agg_vitals = vitals.groupby('PTID').agg({
    'VSWEIGHT': 'mean',
    'VSHEIGHT': 'mean',
    'VSWTUNIT': lambda x: x.mode().iloc[0],
    'VSHTUNIT': lambda x: x.mode().iloc[0]
}).reset_index()

# Aggregate mmse (cognitive test scores - using mean for cognitive scores)
agg_mmse = mmse.groupby('PTID').agg({
    'MMSCORE': 'mean'
}).reset_index()

# Aggregate neurobat (cognitive test scores - using mean for scores)
agg_neurobat = neurobat.groupby('PTID').agg({
    'TRAASCOR': 'mean',
    'TRABSCOR': 'mean',
    'TRABERRCOM': 'mean',
    'CATANIMSC': 'mean',
    'CLOCKSCOR': lambda x: x.mode().iloc[0],
    'BNTTOTAL': lambda x: x.mode().iloc[0],
    'DSPANFOR': lambda x: x.mode().iloc[0],
    'DSPANBAC': lambda x: x.mode().iloc[0]
}).reset_index()

# Aggregate cdr
agg_cdr = cdr.groupby('PTID').agg({
    'CDGLOBAL': lambda x: x.mode().iloc[0]
}).reset_index()

# Aggregate blchange
agg_blchange = blchange.groupby('PTID').agg({
    'BCFAQ': lambda x: x.mode().iloc[0],
    'BCDEPRES': lambda x: x.mode().iloc[0]
}).reset_index()

# Print the shapes of aggregated dataframes
print("\nShapes after aggregation:")
print(f"ptdemog: {agg_ptdemog.shape} (unique patients: {len(agg_ptdemog.PTID.unique())})")
print(f"med_history: {agg_med_history.shape} (unique patients: {len(agg_med_history.PTID.unique())})")
print(f"vitals: {agg_vitals.shape} (unique patients: {len(agg_vitals.PTID.unique())})")
print(f"mmse: {agg_mmse.shape} (unique patients: {len(agg_mmse.PTID.unique())})")
print(f"neurobat: {agg_neurobat.shape} (unique patients: {len(agg_neurobat.PTID.unique())})")
print(f"cdr: {agg_cdr.shape} (unique patients: {len(agg_cdr.PTID.unique())})")
print(f"blchange: {agg_blchange.shape} (unique patients: {len(agg_blchange.PTID.unique())})")

Shapes after aggregation:
ptdemog: (648, 9) (unique patients: 648)
med_history: (648, 10) (unique patients: 648)
vitals: (648, 5) (unique patients: 648)
mmse: (648, 2) (unique patients: 648)
neurobat: (648, 9) (unique patients: 648)
cdr: (648, 2) (unique patients: 648)
blchange: (635, 3) (unique patients: 635)

In [24]:
adnidenoise_df.columns

Index(['filepath', 'filename', 'group', 'subject_id', 'image_id', 'Acq Date',
       'Description', 'Visit'],
      dtype='object')

In [78]:
# Now we can merge all the aggregated dataframes

merged_df = agg_ptdemog.merge(agg_med_history, on='PTID', how='left')\
    .merge(agg_vitals, on='PTID', how='left')\
    .merge(agg_mmse, on='PTID', how='left')\
    .merge(agg_neurobat, on='PTID', how='left')\
    .merge(agg_cdr, on='PTID', how='left')\
    .merge(agg_blchange, on='PTID', how='left')\
    .merge(adnidenoise_df, right_on='subject_id',left_on='PTID', how='left')

print(f"\nFinal merged dataframe shape: {merged_df.shape}")
print(f"Number of unique patients in final dataframe: {len(merged_df.PTID.unique())}")

merged_df["BCDEPRES"].fillna(merged_df["BCDEPRES"].mode()[0],inplace=True)
merged_df["BCFAQ"].fillna(merged_df["BCFAQ"].mode()[0],inplace=True)


# Check for any missing values in the final merged dataframe
print("\nMissing values in merged dataframe:")
print(merged_df.isna().sum())

Final merged dataframe shape: (2495, 42)
Number of unique patients in final dataframe: 648

Missing values in merged dataframe:
PTID           0
PTRACCAT       0
PTGENDER       0
PTDOBYY        0
PTHAND         0
PTMARRY        0
PTEDUCAT       0
PTNOTRT        0
PTTLANG        0
MH14ALCH       0
MH17MALI       0
MH16SMOK       0
MH15DRUG       0
MH4CARD        0
MHPSYCH        0
MH2NEURL       0
MH6HEPAT       0
MH12RENA       0
VSWEIGHT       0
VSHEIGHT       0
VSWTUNIT       0
VSHTUNIT       0
MMSCORE        0
TRAASCOR       0
TRABSCOR       0
TRABERRCOM     0
CATANIMSC      0
CLOCKSCOR      0
BNTTOTAL       0
DSPANFOR       0
DSPANBAC       0
CDGLOBAL       0
BCFAQ          0
BCDEPRES       0
filepath       0
filename       0
group          0
subject_id     0
image_id       0
Acq Date       0
Description    0
Visit          0
dtype: int64

/tmp/ipykernel_3765798/3768965593.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["BCDEPRES"].fillna(merged_df["BCDEPRES"].mode()[0],inplace=True)
/tmp/ipykernel_3765798/3768965593.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["BCFAQ"].fillna(merged_df["BCFAQ"].mode()[0],inplace=True)

# Merge with ADNIMerge DX (diagnosis )

In [79]:
adnimerged_df.DX.value_counts()

DX
MCI    1577
CN     1257
AD     1159
Name: count, dtype: int64

In [80]:
merged_df["Acq Date"] = pd.to_datetime(merged_df["Acq Date"])
merged_df["acq_month"] = merged_df["Acq Date"].dt.month
merged_df["acq_year"] = merged_df["Acq Date"].dt.year
adnimerged_df["EXAMDATE"] = pd.to_datetime(adnimerged_df.EXAMDATE)
adnimerged_df["exam_month"] = adnimerged_df.EXAMDATE.dt.month
adnimerged_df["exam_year"] = adnimerged_df.EXAMDATE.dt.year
adnimerged_df["DX"].replace("Dementia", "AD", inplace=True)

/tmp/ipykernel_3765798/2846512761.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adnimerged_df["DX"].replace("Dementia", "AD", inplace=True)

In [81]:
merged_df = merged_df.merge(adnimerged_df[["PTID","exam_month","exam_year","DX"]], 
                left_on=["subject_id","acq_month","acq_year"], 
                right_on=["PTID","exam_month","exam_year"], how="left")
merged_df.DX = merged_df.apply(lambda x: x["group"] if pd.isna(x["DX"]) else x["DX"],axis="columns")

In [82]:
projection_group_dx=merged_df[ ~merged_df.DX.isna() & ( merged_df.group!=merged_df.DX)][["subject_id","image_id","group","DX"]]

In [88]:
projection_group_dx[projection_group_dx.group=="MCI"]

      subject_id image_id group  DX
19    002_S_0729   I78654   MCI  AD
20    002_S_0729  I171092   MCI  AD
33    002_S_0954  I109379   MCI  AD
34    002_S_0954   I86634   MCI  AD
42    002_S_1070  I121072   MCI  AD
...          ...      ...   ...  ..
2440  141_S_1004   I85689   MCI  AD
2441  141_S_1004   I94935   MCI  AD
2442  141_S_1004  I106621   MCI  AD
2462  141_S_1245   I74748   MCI  CN
2490  941_S_1311  I143861   MCI  AD

[286 rows x 4 columns]

In [ ]:
merged_df.rename(columns={"filepath":"nii_path","subject_id":"Subject",
"group":"Group","image_id":"Image Data ID"
,"PTID_y":"PTID"},inplace=True)

In [ ]:
merged_df.drop(columns=["PTID_x","exam_month","exam_year","acq_month","acq_year"]).to_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/ALL_classes_clinical.csv",index=False)

In [90]:
merged_df.to_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/ALL_classes_clinical.csv",index=False)

Python 3.10.4

In [3]:
import pandas as pd
merged_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/ALL_classes_clinical.csv")

In [9]:
len(merged_df[(merged_df.Group=="MCI") & (merged_df.DX=="AD")]) , len(merged_df[merged_df.Group=="MCI"])

(264, 1316)

In [11]:
merged_df[(merged_df.Group=="MCI") & (merged_df.DX=="AD")].to_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/MCI_to_AD.csv",index=False)

In [34]:
AD_CN_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/AD_CN_clinical_duplicates_aligned.csv")
MCI_to_AD_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/MCI_to_AD.csv")

AD_CN_df["DX"] = AD_CN_df["Group"]

In [35]:
AD_CN_df = pd.concat([AD_CN_df,MCI_to_AD_df],ignore_index=True)
len(AD_CN_df)

1443

In [38]:
AD_CN_df["DX"].value_counts() , AD_CN_df.Group.value_counts()

(DX
 CN    746
 AD    697
 Name: count, dtype: int64,
 Group
 CN     746
 AD     433
 MCI    264
 Name: count, dtype: int64)

In [39]:
AD_CN_df.to_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/AD_CN_MCI_to_AD.csv",index=False)

In [2]:
import pandas as pd
AD_CN_df = pd.read_csv("/gpfs/projects/acad/mmfusion/datasets/adni/ADNIDenoise/AD_CN_MCI_to_AD.csv")

In [4]:
AD_CN_df.columns

Index(['PTID', 'PTRACCAT', 'PTGENDER', 'PTDOBYY', 'PTHAND', 'PTMARRY',
       'PTEDUCAT', 'PTNOTRT', 'PTTLANG', 'MH14ALCH', 'MH17MALI', 'MH16SMOK',
       'MH15DRUG', 'MH4CARD', 'MHPSYCH', 'MH2NEURL', 'MH6HEPAT', 'MH12RENA',
       'VSWEIGHT', 'VSHEIGHT', 'VSWTUNIT', 'VSHTUNIT', 'MMSCORE', 'TRAASCOR',
       'TRABSCOR', 'TRABERRCOM', 'CATANIMSC', 'CLOCKSCOR', 'BNTTOTAL',
       'DSPANFOR', 'DSPANBAC', 'CDGLOBAL', 'BCFAQ', 'BCDEPRES', 'Subject',
       'Group', 'nii_path', 'DX', 'filename', 'Image Data ID', 'Acq Date',
       'Description', 'Visit'],
      dtype='object')

# ML classification

In [2]:
from pycaret.classification import *

data = merged_df.drop_duplicates(subset=["Subject"])
setup(data=data,target="DX",ignore_features=['nii_path', 'filename','Subject', 'Image Data ID', 'Acq Date', 'Description', 'Visit',
       'PTID'],session_id=42)

In [ ]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             16:09:22
Status     . . . . . . . . . . . . . . . . . .     Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

In [2]:
merged_df.DX.value_counts()

DX
MCI    1051
CN      751
AD      693
Name: count, dtype: int64

In [3]:
merged_df.Group.value_counts()

Group
MCI    1316
CN      746
AD      433
Name: count, dtype: int64